html{
    scroll-behavior: smooth;
}

header img{
    width: 120px;
    padding: 5px 30px;
}
header{
    color: rgb(94, 0, 0);
    background-color: rgba(255, 166, 0, 0.486);
    border-radius: 10px 10px 10px 10px;
    padding: 0px 15px 0px 15px;
    box-shadow: 2px 2px 2px 2px black;
    position: fixed;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-size: 18px;
}

nav{
    margin-top: 10px;
}
nav a{
    text-decoration: none;
    color:maroon ;
    padding: 5px 15px;
    border-radius: 5px 10px 5px 10px;
    transition: 1s;
    margin: 10px;
    font-size: 17px;
}

nav a:hover{
    color:rgb(177, 145, 145);
    background-color: antiquewhite;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 5px 5px;
    transition: 0.8s;
}

body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Deskripsihome{
    width: 40%;
    font-size: 20px;
    margin-left: 50px;
    padding: 70px 0px 0px 0px;
    & h1{
        color: rgb(95, 67, 24);
    }
    & h3 {
        color: burlywood;
    }
    & p{
        color:antiquewhite;
    }
}

.home{
    background-image: url(home.jpg);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 50px;
}

.Deskripsihome a{
    text-decoration: none;
    color:aliceblue;
    background-color: rgb(202, 181, 142);
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 3px 3px 2px 2px rgb(128, 112, 82);
}

.Deskripsihome a:hover{
    color: rgb(255, 255, 255);
    background-color:rgb(184, 167, 136);
    box-shadow: 3px 3px 2px 2px rgb(224, 218, 206);
}

.about{
    height: 1100px;
    padding-top: 150px;
    background-image: url(background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.ContainerAbout{
    background-color: azure;
    border-radius: 10px 10px 10px 10px; 
    width: 50%;
    margin-left: 25%;
    height: 75%;
    padding: 50px 20px;
    text-align: justify;
    color: rgb(211, 161, 90);
    font-size: 18px;
    & h3{
        text-align: left;
        color: rgb(146, 104, 48);
        font-size: 25px;
    }
    & .picAbout{
        margin-left: 25%;
    }
    
}
.ContainerAbout img{
    width: 60%;
    border-radius: 50px 15px 50px 15px;
    box-shadow: 0px 0px 15px 0px rgb(197, 139, 63);
}


.howto{
    height: 950px;
    padding-top: 150px;
    background-image: url(background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.ContainerHowto{
    background-color: azure;
    border-radius: 10px 10px 0px 0px;
    width: 50%;
    padding: 20px;
    margin-left: 25%;
    text-align: center;
    font-size: 25px;
    & h3{
        color: rgb(146, 104, 48);
    }
}
.ContainerHowto2{
    background-color: azure;
    width: 50%;
    padding: 50px 20px;
    margin-left: 25%;
    text-align: center;
    color: rgb(211, 161, 90);
}
.Alat{
    text-align: left;
    margin-left: 18%;
    text-align: justify;
    & h3{
        color: rgb(198, 162, 85);
        margin-left: 11%;
    }
    & ol{
        color: rgb(227, 191, 113);
    }
}
.Bahan{
    text-align: left;
    margin-left: 65%;
    margin-top: -180px;
    & h3{
        color: rgb(198, 162, 85);
        margin-left: 11%;
    }
    & ol{
        color: rgb(227, 191, 113);
    }
}
.ContainerHowto3{
    background-color: azure;
    border-radius: 0px 0px 10px 10px;
    width: 50%;
    margin-left: 25%;
    text-align: left;
    padding: 20px;
    & h3{
        color: rgb(198, 162, 85);
    }
    & ol{
        color: rgb(227, 191, 113);
    }
}
.ContainerHowto img{
    height: 200px;
    border-radius: 50px 15px 50px 15px;
    box-shadow: 0px 0px 15px 0px rgb(197, 139, 63);
}

.profile{
    padding-top: 125px;
    padding-bottom: 140px;
    background-image: url(background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.CardProfile{
    background-color: azure;
    padding: 15px;
    width: 500px;
    height: 250px;
    margin: auto;
    text-align: center;
    border-radius: 15px 15px 15px 15px;
}
.DeskProfile{
    color: rgb(128, 198, 191);
    margin: -150px 150px 0px 0px;
    font-size: 30px;
}
.ImgProfile img{
    width: 150px;
    border-radius: 15px 15px 15px 15px;
    margin-left: 70%;
}
.medsos{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    padding-top: 5px;
}
.medsos a{
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24px;
}